.footer-menu{
	background: $bg-silver;
	.footer-menu__address {
		.footer-menu__desc{
			font-family: $lato;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 150%;
			color: $color-t-dark;
			margin-top: 33px;
		}
	}
	.footer-menu__services{
		.footer-menu__link{
			margin-top: 28px;
			a{
				font-family: $lato;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 160%;
				text-transform: capitalize;
				color: $color-t-black;
				text-decoration: none;
			}
		}
	}
	.footer-menu__contact{
		.footer-menu__mail{
			margin-top: 33px;
			a{
				font-family: $lato;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 14px;
				color: $color-t-dark;
				text-decoration: none;
			}
		}
		.footer-menu__phone{
			font-family: $lato;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: $color-t-dark;
			margin-top: 11px;
		}
		.footer-menu__socials{
			margin-top: 22px;
			img{
				margin-right: 10px;
			}
		}
	}
	.footer-menu__support{
		.footer-menu__bank{
			margin-top: 33px;
		}
	}
	.footer-menu__copyright{
		font-family: $lato;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $color-t-dark;
		margin: 100px 0 85px 0;
	}
}