body{
	img{
		max-width: 100%;
	}
	ul{
		list-style: none;
	}
}
.margin-t-50{
	margin-top: 50px;
}
.margin-t-85{
	margin-top: 85px;
}
.headline{
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #101010;
}
.title{
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;	
}
.text{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
}