.main-bg{
	background: url(img/main-bg.jpg);
	background-size: cover;
}
.main-bg__red{
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
	padding-top: 20px;
}
.header-menu{
	padding: 30px 0 20px 0; 
	align-items: center;
}
.nav__fixed .main-bg__red{
	padding-top: 102px;
}
.nav__fixed .header-menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 3;
	background: linear-gradient(90deg, rgb(213, 32, 71) 0%, rgb(238, 61, 27) 100%);
}
.nav__fixed .lang__list{
	background: linear-gradient(90deg, rgb(213, 32, 71) 0%, rgb(238, 61, 27) 100%);
}
.logo{
	padding: 5px 0;
}
.navigation{
	text-align: center;
	li{
    	display: inline-block;
    	vertical-align: top;
    	a{
    		padding: 8px 0;
    		display: block;
		   font-family: $lato;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			text-transform: uppercase;
			color: $color-t-white;
			text-decoration: none;
			margin-left: 25px;
    	}
	}
}
.lang-menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.lang{
	cursor: pointer;
	flex: 0 1 100px;
	margin: 0 10px 0 0;
	position: relative;
	user-select: none;
	ul{
		list-style: none;
	}
	&.active{
		.lang__arrow{
			transform: rotate(180deg);
   		transition: all 0.8s ease 0s;
		}
	}
	&__default-option{
		font-family: $lato;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		cursor: pointer;
	}
	&__option{
		display: flex;
	   align-items: center;
		font-family: $lato;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		color: $color-t-white;
		padding: 5px;
		cursor: pointer;
	}
	&__icon{
		margin: 4px 5px 0 0;
		border-radius: 16px;
	}
	&__arrow{
		position: absolute;
		top: calc(50% - 4px);
      right: 0;
      cursor: pointer;
      transition: all 0.8s ease 0s;
	}	
	&__list{
		display: none;
		list-style: none;
      font-family: $lato;
		font-size: 14px;
		line-height: 17px;
	   position: absolute;
 		top: 45px;
 		left: 0;
    	width: 100%;
    	z-index: 6;
	}
}
.button{
	margin-left: 20px;
	.button__login{
		font-family: $lato;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
	   text-align: center;
	   color: $color-t-white;
	   text-decoration: none;
	   background: none;
	   border: 1px solid #FFFFFF;
		border-radius: 6px;
	   text-transform: uppercase;
	   padding: 10px 29px;
	   &:focus{
	    	outline: none;
	   }
	}
}
.header{
	margin-top: 170px;
	.header__title{
		font-family: $lato;
		font-style: normal;
		font-weight: bold;
		font-size: 72px;
		line-height: 86px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $color-t-white;
		text-align: center;
	}
	.header__subtitle{
		font-family: $lato;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: $color-t-white;
		margin-top: 40px;
	}
	.header__sing-up{
		text-align: center;
		margin-top: 40px;
		margin-bottom: 187px;
		.header__button{
			background: #FFFFFF;
			border-radius: 6px;
			text-decoration: none;
			font-family: $lato;
			font-weight: 600;
			font-size: 14px;
			border: 2px solid #FFFFFF;
			box-sizing: border-box;
			text-transform: uppercase;
			color: $color-t-red;
			padding: 16px 52px;
			text-align: center;
			position: relative;
			transition: all 400ms ease;
			&:hover{
				color: $color-t-white;
				background: transparent;
			}
			&:focus{
				outline: none;
			}
		}	
	}
}
.header__burger {
	display: none;
 	height: 20px;
  	width: 30px;
  	position: relative;
  	margin-left: auto;
  	cursor: pointer;
}
.header__burger span{
	content: " ";
	background-color: $bg-silver;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 9px;
	transition: all 0.6s;
}
.header__burger:before,
.header__burger:after{
	content: " ";
	background-color: $bg-silver;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.6s;
}
.header__burger:before{
  top: 0;
}
.header__burger:after{
  bottom: 0;
}
.header__burger.active span,{
  transform: scale(0);
}
.header__burger.active:before{
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after{
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__navigation{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
  	background: linear-gradient(90deg, rgb(213, 32, 71) 0%, rgb(238, 61, 27) 100%);
  	z-index: 5;	
   height: calc(100vh - 80px);
  	top: 80px;
  	padding: 70px 0;
  	transform:translate(0, 150%);
  	opacity: 0;
  	transition: all 0.8s ease 0s;
}
.header__navigation.navigation__active{
	transform: translate(0, 0);
	opacity: 1;
	transition: all 0.6s ease 0s;
}
.header__navigation li {
	position: relative;
	transition: all 400ms ease;
	&:before{
		position: absolute;
		content: '';
		width: 0;
		height: 100%;
		background: $bg-silver;
		top: 0;
		left: 50%;
		z-index: -1;
		transition: all 400ms ease;
	}
	&:hover{
		z-index: 2;
		&:before{
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: $bg-silver;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all 400ms ease;
		}
	}
}
.header__navigation a{
	display: block;
	font-family: $lato;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 1.09091px;
	color: $color-t-white;
	text-decoration: none;
	padding: 10px 0;
	text-align: center;
	transition: all 400ms ease;
	&:hover{
		color: $color-t-red;
		transition: all 400ms ease;
	}
}
