.overview{
	margin:95px 0;
	position: relative;
	.overview__title{
		color: $color-t-black;
		margin-top: 45px;
	}
	.overview__text{
		text-align: justify;
		color: $color-t-black;
		margin-top: 50px;
		.overview__hide{
			display: none;
		}
		.overview__link{
			margin-top: 30px;
			font-family: $lato;
			font-size: 14px;
			line-height: 140%;
			color: $color-t-red;	
			cursor: pointer;	
		}
	}
	.overview__video{
		border-radius: 15px;
		margin-left: 33px;
		position: relative;
	}
	.overview__button{
		position: absolute;
		top: calc(50% - 33px);
		left: -33px;
		cursor: pointer;
		width: 66px;
		height: 66px;
		border-radius: 50px;
		background: $bg-red;
		display: block;

		img{
			margin: 24px 24px;
			width: 18px;
			height: 18px;
		}
	}
}
.features{
	background: $bg-silver;
	background-size: cover;
	.features__title{
		text-align: center;
		color: $color-t-black;
		margin: 65px 0;
	}
	.features__column{
		position: relative;
		margin-bottom: 230px;
		img{
			border-radius: 8px;
		}
		.features__aside{
			position: absolute;
			top: 62%;
			right: 8%;
			width: 84%;
			background: #FFFFFF;
			box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
			border-radius: 8px;
			padding: 33px 32px 25px 32px;
			.features__caption{
				text-align: center;
			}
			.features__exceerpt{
				font-family: Lato;
				font-size: 12px;
				line-height: 150%;
				color: $color-t-dark;
				text-align: center;
				margin-top: 20px;
			}
			.features__link{
				text-align: center;
				margin-top: 20px;
				font-family: Lato;
				font-weight: bold;
				font-size: 12px;
				line-height: 150%;
				color: $color-t-red;
				cursor: pointer;
			}
			.features__hide{
				display: none;
			}
		}
	}
}
.technology{
	margin-bottom: 100px;
	.technology__title{
		text-align: center;
		color: $color-t-black;
		margin: 65px 0 52px 0;
	}
	.technology__column{
		position: relative;
		cursor: pointer;
		&:hover{
			.technology__namber{
				color: rgba(16, 16, 16, 40%);
				transition: all 0.8s ease 0s;
			}
		}
		.technology__namber{
			font-family: $lato;
			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			line-height: 120px;
			text-align: center;
			color: rgba(16, 16, 16, 0.08);
			transition: all 0.8s ease 0s;
		}
		.technology__caption{
			text-align: center;
			color: $color-t-dark;
			margin-top: 20px;
		}
		.technology__text{
			font-family: $lato;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			text-align: center;
			color: $color-t-black;
			margin: 10px 32px 28px;
		}
		.cloud{
			position: absolute;
			top: 59px;
			left: 35%;
			right: 33%;
		}
		.secure{
			position: absolute;
			top: 65px;
			left: 37%;
			right: 37%;
		}
		.pdf{
			position: absolute;
			top: 61px;
			left: 36%;
			right: 36%;
		}
		.csv{
			position: absolute;
			top: 71px;
			left: 41%;
    		right: 40%;
		}
	}
}
.download{
	background: $bg-red;
	background-size: cover;
	height: 100%;
	.download__title{
		margin-top: 125px;
		color: $color-t-white;
	}
	.download__text{
		text-align: justify;
		color: $color-t-white;
		margin-top: 35px;
	}
	.download__link{
		margin: 40px 0 115px 0;
		a{
			text-decoration: none;
			margin-right: 20px;
		}
		.icon-windows{
			img{
				margin-bottom: 4px;
			}
		}
	}

}
.slider-block{
	position: relative;
}
.slider{
	margin: 95px 40px 0 40px;
	&__slide{
		padding: 0 10px;
		&:focus{
			outline: none;
		}	
	}
	&__img{
		border-radius: 15px;
	}
	&__arrow-prew{
		font-size: 32px;
		color: $bg-silver;
		position: absolute;
		top: calc(50% - 16px);
		left: 0;
		cursor: pointer;
	}
	&__arrow-next{
		font-size: 32px;
		color: $bg-silver;
		position: absolute;
		top: calc(50% - 16px);
		right: 0;
		cursor: pointer;
	}
}
.contact{
	margin-top: 117px;
	.contact__title{
		color: $color-t-black;
	}
	.contact__text{
		text-align: justify;
		color: $color-t-black;
		margin-top: 50px;
	}
	.contact__form{
		margin: 0 0 78px 0;
		.contact__box{
			display: flex;
			justify-content: space-between;
		}
		.contact__input{				
			font-family: $lato;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: rgba(19, 39, 67, 0.5);
			width: 100%;
			border: 1px solid #333333;
			box-sizing: border-box;
			border-radius: 6px;
			outline: none;
		   background: none;
		   padding: 20px 15px 20px 31px;
		   margin-bottom: 25px;
		}
		.contact__first-name,.contact__last-name{
			width: 47%;
		}
		.contact__last-name{
			margin-left: 5%;
		}
		.contact__submit{
			padding: 17px 34px;
			background: $bg-red;
			color: $color-t-white;
			font-family: $lato;
			border: 1.5px solid $bg-red;
			box-sizing: border-box;
			border-radius: 6px; 
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			text-transform: uppercase;
			&:focus{
				outline: none;
			}
		}
	}
}