@media (max-width: 1200px) { 
	.button{
		margin-left: 7px;
	}
	.navigation li a{
		margin-left: 10px;
	}
}
@media (max-width: 992px) {
	.margin-t-85{
		margin-top: 65px;
	}
	.title{
		font-size: 27px;
		line-height: 36px;	
	}
	.navigation li a{
		padding: 2px 0;
	}
	.lang .lang__icon{
		display: none;
	}
	.button .button__login{
		padding: 7px 15px;
		font-size: 12px;
	}
	.header{
		margin-top: 130px;
	}
	.overview{
		margin: 75px 0;
	}
	.overview .overview__title{
		margin-top: 0;
	}
	.overview .overview__text{
		margin-top: 30px;
	}
	.overview .overview__text .overview__link{
		margin-top: 15px;
	}
	.features .features__column .features__aside{
		padding: 22px 22px 15px 22px
	}
	.contact .contact__form .contact__last-name{
		margin-left: 4%;
	}
	.slider{
		margin: 95px 0 0 0;
	}
}
@media (max-width: 768px) {
	.header__burger{
		display: block;
	}
	.logo{
		padding: 0;
	} 
	.navigation{
		display: none;
	}
	.button{
		display: none;
	}
	.header .header__title{
		font-size: 54px;
    	line-height: 68px;
	}
	.header .header__subtitle{
		font-size: 18px;
	    line-height: 140%;
	    margin-top: 20px;
	}
	.header .header__sing-up{
   	 	margin-top: 20px;
    	margin-bottom: 140px;
	}
	.overview .overview__video{
		margin-top: 30px;
		margin-left: 0;
		text-align: center; 
	}
	.overview .overview__button{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto; 
	}
	.technology{
		margin-bottom: 50px;
	}
	.download .download__title{
		margin-top: 65px;
	}
	.download .download__text{
		margin-top: 20px;
	}
	.download .download__link{
		margin: 20px 0 60px 0;
	}
	.contact{
		margin-top: 60px;
	}
	.contact .contact__text{
		margin-top: 25px;
	}
	.contact .contact__form{
		margin: 40px 0 50px 0;
	}
	.margin-t-85{
		margin-top: 40px;
	}
	.menu-icon{
		display: block;
	}
	.slider{
		margin: 40px;
	}
}
@media (max-width: 576px) {
	.header{
		margin-top: 100px;
	}
	.header .header__title{
		font-size: 36px;
    	line-height: 45px;
	}
	.header .header__subtitle{
		font-size: 14px;
	}
	.header .header__sing-up{
    	margin-bottom: 100px;
	}
	.header .header__sing-up .header__button{
		font-size: 12px;
	    padding: 12px 34px;
	}
	.lang-menu{
		text-align: left;
	}
	.features .features__title, .technology .technology__title{
		margin: 30px 0;
	}
	.features .features__column{
		text-align: center;
	}
	.features .features__column .features__aside{
		right: 20%;
    	width: 60%;
	}
	.technology .technology__column .cloud{
		left: 42%;
    	right: 42%;
	}
	.technology .technology__column .secure{
		left: 44%;
    	right: 43%;
	}
	.technology .technology__column .pdf{
		left: 43%;
		right: 43%;
	}
	.technology .technology__column .csv{
		left: 46%;
    	right: 45%;
	}
	.contact .contact__form input{
		padding: 10px 10px 10px 15px;
		font-size: 12px;
	}
	.contact .contact__form .contact__last-name{
		margin-left: 4%;
	}
	.contact .contact__form .contact__submit{
		padding: 11px 23px;
		font-size: 12px;
	}
	.footer-menu .footer-menu__copyright{
		margin: 50px 0 45px 0;
	}
	.technology .technology__column .technology__namber{
		font-size: 70px;
	}
	.headline{
		font-size: 16px;
	}
	.menu-container a{
		text-align: left;
	}
}
@media (max-width: 450px) {
	.slider{
		margin: 40px 10px;
	}
	.header__navigation{
		height: calc(100vh - 70px);
  	   top: 70px;
	}
	.contact .contact__form .contact__box{
		flex-wrap: wrap;
	}
}
@media (max-width: 350px) {
	.header .header__title{
		font-size: 28px;
    	line-height: 45px;
	}
	.header .header__subtitle{
		font-size: 12px;
	}
	.features .features__column .features__aside{
		right: 10%;
    	width: 80%;
	}
	.contact .contact__form .contact__last-name{
		margin-left: 0;
	}
	.contact .contact__form .contact__first-name{
		width: 100%;
	}
	.contact .contact__form .contact__last-name{
		width: 100%;
	}
	.technology .technology__column .cloud{
		left: 40%;
    	right: 40%;
	}
	.technology .technology__column .secure{
		left: 42%;
    	right: 41%;
	}
	.technology .technology__column .pdf{
		left: 41%;
		right: 41%;
	}
	.technology .technology__column .csv{
		left: 44%;
    	right: 43%;
	}
	.lang__default-option .lang__option{
		padding: 0;
	}
	.lang__list{
		top: 40px;
	}
	.slider{
		margin: 20px 0;
	}
}
