body img {
  max-width: 100%; }
body ul {
  list-style: none; }

.margin-t-50 {
  margin-top: 50px; }

.margin-t-85 {
  margin-top: 85px; }

.headline {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010; }

.title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px; }

.text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%; }

.main-bg {
  background: url(img/main-bg.jpg);
  background-size: cover; }

.main-bg__red {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  padding-top: 20px; }

.header-menu {
  padding: 30px 0 20px 0;
  align-items: center; }

.nav__fixed .main-bg__red {
  padding-top: 102px; }

.nav__fixed .header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 3;
  background: linear-gradient(90deg, #d52047 0%, #ee3d1b 100%); }

.nav__fixed .lang__list {
  background: linear-gradient(90deg, #d52047 0%, #ee3d1b 100%); }

.logo {
  padding: 5px 0; }

.navigation {
  text-align: center; }
  .navigation li {
    display: inline-block;
    vertical-align: top; }
    .navigation li a {
      padding: 8px 0;
      display: block;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      margin-left: 25px; }

.lang-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.lang {
  cursor: pointer;
  flex: 0 1 100px;
  margin: 0 10px 0 0;
  position: relative;
  user-select: none; }
  .lang ul {
    list-style: none; }
  .lang.active .lang__arrow {
    transform: rotate(180deg);
    transition: all 0.8s ease 0s; }
  .lang__default-option {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    cursor: pointer; }
  .lang__option {
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    cursor: pointer; }
  .lang__icon {
    margin: 4px 5px 0 0;
    border-radius: 16px; }
  .lang__arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    cursor: pointer;
    transition: all 0.8s ease 0s; }
  .lang__list {
    display: none;
    list-style: none;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 6; }

.button {
  margin-left: 20px; }
  .button .button__login {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 10px 29px; }
    .button .button__login:focus {
      outline: none; }

.header {
  margin-top: 170px; }
  .header .header__title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    text-align: center; }
  .header .header__subtitle {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-top: 40px; }
  .header .header__sing-up {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 187px; }
    .header .header__sing-up .header__button {
      background: #FFFFFF;
      border-radius: 6px;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      font-size: 14px;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      text-transform: uppercase;
      color: #ED4C5C;
      padding: 16px 52px;
      text-align: center;
      position: relative;
      transition: all 400ms ease; }
      .header .header__sing-up .header__button:hover {
        color: #fff;
        background: transparent; }
      .header .header__sing-up .header__button:focus {
        outline: none; }

.header__burger {
  display: none;
  height: 20px;
  width: 30px;
  position: relative;
  margin-left: auto;
  cursor: pointer; }

.header__burger span {
  content: " ";
  background-color: #FAFAFA;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: all 0.6s; }

.header__burger:before,
.header__burger:after {
  content: " ";
  background-color: #FAFAFA;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.6s; }

.header__burger:before {
  top: 0; }

.header__burger:after {
  bottom: 0; }

.header__burger.active span {
  transform: scale(0); }

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px; }

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px; }

.header__navigation {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(90deg, #d52047 0%, #ee3d1b 100%);
  z-index: 5;
  height: calc(100vh - 80px);
  top: 80px;
  padding: 70px 0;
  transform: translate(0, 150%);
  opacity: 0;
  transition: all 0.8s ease 0s; }

.header__navigation.navigation__active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.6s ease 0s; }

.header__navigation li {
  position: relative;
  transition: all 400ms ease; }
  .header__navigation li:before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: #FAFAFA;
    top: 0;
    left: 50%;
    z-index: -1;
    transition: all 400ms ease; }
  .header__navigation li:hover {
    z-index: 2; }
    .header__navigation li:hover:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #FAFAFA;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 400ms ease; }

.header__navigation a {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 1.09091px;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  transition: all 400ms ease; }
  .header__navigation a:hover {
    color: #ED4C5C;
    transition: all 400ms ease; }

.overview {
  margin: 95px 0;
  position: relative; }
  .overview .overview__title {
    color: #000000;
    margin-top: 45px; }
  .overview .overview__text {
    text-align: justify;
    color: #000000;
    margin-top: 50px; }
    .overview .overview__text .overview__hide {
      display: none; }
    .overview .overview__text .overview__link {
      margin-top: 30px;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      line-height: 140%;
      color: #ED4C5C;
      cursor: pointer; }
  .overview .overview__video {
    border-radius: 15px;
    margin-left: 33px;
    position: relative; }
  .overview .overview__button {
    position: absolute;
    top: calc(50% - 33px);
    left: -33px;
    cursor: pointer;
    width: 66px;
    height: 66px;
    border-radius: 50px;
    background: #ED4C5C;
    display: block; }
    .overview .overview__button img {
      margin: 24px 24px;
      width: 18px;
      height: 18px; }

.features {
  background: #FAFAFA;
  background-size: cover; }
  .features .features__title {
    text-align: center;
    color: #000000;
    margin: 65px 0; }
  .features .features__column {
    position: relative;
    margin-bottom: 230px; }
    .features .features__column img {
      border-radius: 8px; }
    .features .features__column .features__aside {
      position: absolute;
      top: 62%;
      right: 8%;
      width: 84%;
      background: #FFFFFF;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 33px 32px 25px 32px; }
      .features .features__column .features__aside .features__caption {
        text-align: center; }
      .features .features__column .features__aside .features__exceerpt {
        font-family: Lato;
        font-size: 12px;
        line-height: 150%;
        color: #101010;
        text-align: center;
        margin-top: 20px; }
      .features .features__column .features__aside .features__link {
        text-align: center;
        margin-top: 20px;
        font-family: Lato;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
        color: #ED4C5C;
        cursor: pointer; }
      .features .features__column .features__aside .features__hide {
        display: none; }

.technology {
  margin-bottom: 100px; }
  .technology .technology__title {
    text-align: center;
    color: #000000;
    margin: 65px 0 52px 0; }
  .technology .technology__column {
    position: relative;
    cursor: pointer; }
    .technology .technology__column:hover .technology__namber {
      color: rgba(16, 16, 16, 0.4);
      transition: all 0.8s ease 0s; }
    .technology .technology__column .technology__namber {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 100px;
      line-height: 120px;
      text-align: center;
      color: rgba(16, 16, 16, 0.08);
      transition: all 0.8s ease 0s; }
    .technology .technology__column .technology__caption {
      text-align: center;
      color: #101010;
      margin-top: 20px; }
    .technology .technology__column .technology__text {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #000000;
      margin: 10px 32px 28px; }
    .technology .technology__column .cloud {
      position: absolute;
      top: 59px;
      left: 35%;
      right: 33%; }
    .technology .technology__column .secure {
      position: absolute;
      top: 65px;
      left: 37%;
      right: 37%; }
    .technology .technology__column .pdf {
      position: absolute;
      top: 61px;
      left: 36%;
      right: 36%; }
    .technology .technology__column .csv {
      position: absolute;
      top: 71px;
      left: 41%;
      right: 40%; }

.download {
  background: #ED4C5C;
  background-size: cover;
  height: 100%; }
  .download .download__title {
    margin-top: 125px;
    color: #fff; }
  .download .download__text {
    text-align: justify;
    color: #fff;
    margin-top: 35px; }
  .download .download__link {
    margin: 40px 0 115px 0; }
    .download .download__link a {
      text-decoration: none;
      margin-right: 20px; }
    .download .download__link .icon-windows img {
      margin-bottom: 4px; }

.slider-block {
  position: relative; }

.slider {
  margin: 95px 40px 0 40px; }
  .slider__slide {
    padding: 0 10px; }
    .slider__slide:focus {
      outline: none; }
  .slider__img {
    border-radius: 15px; }
  .slider__arrow-prew {
    font-size: 32px;
    color: #FAFAFA;
    position: absolute;
    top: calc(50% - 16px);
    left: 0;
    cursor: pointer; }
  .slider__arrow-next {
    font-size: 32px;
    color: #FAFAFA;
    position: absolute;
    top: calc(50% - 16px);
    right: 0;
    cursor: pointer; }

.contact {
  margin-top: 117px; }
  .contact .contact__title {
    color: #000000; }
  .contact .contact__text {
    text-align: justify;
    color: #000000;
    margin-top: 50px; }
  .contact .contact__form {
    margin: 0 0 78px 0; }
    .contact .contact__form .contact__box {
      display: flex;
      justify-content: space-between; }
    .contact .contact__form .contact__input {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: rgba(19, 39, 67, 0.5);
      width: 100%;
      border: 1px solid #333333;
      box-sizing: border-box;
      border-radius: 6px;
      outline: none;
      background: none;
      padding: 20px 15px 20px 31px;
      margin-bottom: 25px; }
    .contact .contact__form .contact__first-name, .contact .contact__form .contact__last-name {
      width: 47%; }
    .contact .contact__form .contact__last-name {
      margin-left: 5%; }
    .contact .contact__form .contact__submit {
      padding: 17px 34px;
      background: #ED4C5C;
      color: #fff;
      font-family: "Lato", sans-serif;
      border: 1.5px solid #ED4C5C;
      box-sizing: border-box;
      border-radius: 6px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase; }
      .contact .contact__form .contact__submit:focus {
        outline: none; }

.footer-menu {
  background: #FAFAFA; }
  .footer-menu .footer-menu__address .footer-menu__desc {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    margin-top: 33px; }
  .footer-menu .footer-menu__services .footer-menu__link {
    margin-top: 28px; }
    .footer-menu .footer-menu__services .footer-menu__link a {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
      text-transform: capitalize;
      color: #000000;
      text-decoration: none; }
  .footer-menu .footer-menu__contact .footer-menu__mail {
    margin-top: 33px; }
    .footer-menu .footer-menu__contact .footer-menu__mail a {
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #101010;
      text-decoration: none; }
  .footer-menu .footer-menu__contact .footer-menu__phone {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    margin-top: 11px; }
  .footer-menu .footer-menu__contact .footer-menu__socials {
    margin-top: 22px; }
    .footer-menu .footer-menu__contact .footer-menu__socials img {
      margin-right: 10px; }
  .footer-menu .footer-menu__support .footer-menu__bank {
    margin-top: 33px; }
  .footer-menu .footer-menu__copyright {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    margin: 100px 0 85px 0; }

/*# sourceMappingURL=style.css.map */
